@import "../../scss/values";

app-calendar-day-dialog {
  .workload {
    color: $c-violete;
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .tasks {
    display: table;
    font-size: 18px;
    color: $c-violete;
    line-height: 24px;

    .task {
      display: table-row;
      .c {
        display: table-cell;
      }

      .l {
        padding-right: 2rem;
        font-weight: bold;
        cursor: pointer;
      }

      .r {
        text-align: right;
      }
    }
  }




}
