@import "../../scss/values";

app-work-load-page {
  .split-block-title {
    position: sticky;
    top: 0;

    background-color: $c-gray;
    padding-bottom: 0.5rem;
  }

  .fillter-all {
    // padding-bottom: 3rem;
  }

  .add-cont {
    text-align: right;
    padding-bottom: 1rem;
  }

  .dates-and-days-cont {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .dates-cont {
      width: 50%;
    }

    .days-cont {
      width: 50%;
    }

    .main-control-cont {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      user-select: none;

      .ico {
        color: white;
      }

      .l {
        padding-right: 0.5rem;

        .btn {
          padding: 0.7rem;
          background-color: $c-green;
          display: inline-block;
        }
      }

      .r {
        font-size: 20px;
        color: white;
      }
    }
  }

  .days-tbl {
    display: flex;

    .l {
      width: 50%;
    }

    .r {
      width: 50%;
    }
  }

  .dates-and-days-context-cont {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
    font-size: 20px;

    .days-cont {
      mat-checkbox {
        margin-right: 1rem;
      }
    }
  }

  .month-all {
    .month-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;

      .l {
        font-size: 1.4rem;
        font-weight: normal;

        color: $c-violete;
      }

      .r {
        padding-right: 1rem;
      }
    }

    .add-btn-cont {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;

      $size: 40px;
      width: $size;
      height: $size;

      background-color: $c-yellow;

      cursor: pointer;

      .ico {
        color: white;
        font-size: 20px;
      }
    }

    .month-content-cont {
      padding: 1rem;
    }

    .other-weeks-title {
      font-size: 1.4rem;
      font-weight: normal;

      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;

      color: $c-violete;
    }

    .month-stats {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }
  }

  .inline-tasks-all {
    margin-top: 0.5rem;

    .tasks-cont {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.5rem;

      .item {
        display: inline-block;
        padding: 0.5rem;
        background-color: $c-violete;
        color: white;
        margin-right: 3px;
        margin-bottom: 3px;
        cursor: pointer;
      }
    }
  }

  .week-title-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .l {
      .title {
        font-weight: bold;
        font-size: 18px;
        color: $c-violete;
      }

      .week-load {

      }

      .each-day-load {
        margin-left: 0.5rem;
      }

      .cell {
        text-align: left;
        padding-top: 0.5rem;
      }
    }

    .r {
    }
  }

  .weeks-table {
    border: 0;

    width: 100%;

    .events-row {
      .event {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        color: white;

        margin-left: 3px;
        text-align: center;
        background-color: $c-violete;
        cursor: pointer;

        &.empty {
          cursor: none;
          background-color: transparent;
        }
      }
    }

    .week-all {
      .day-all {
        vertical-align: top;
        // border: 1px solid black;
        padding: 2px;
        width: 50px;
        color: $c-violete;

        .num {
          text-align: center;
          font-size: 2rem;
          padding-top: 1rem;
        }

        .hours {
          // font-size: 1.2rem;
          text-align: center;
          padding-top: 1rem;
        }
      }
    }
  }
}
