
@import '../../scss/values';

.dash-list {
  .item {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $c-black;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $c-green;
    }
  }
}
