@import '../../scss/values';

app-add-or-edit-line {

  .cont {
    display: flex;
    align-items: center;
  }

  .btn {
    background-color: $c-yellow;
    display: inline-block;
    padding: 0.5rem;

    cursor: pointer;

    .ico {
      color: white;
      font-size: 20px;
    }
  }
}

