<div class="cont">
  <div class="l">
    <ng-content
      *ngIf="!editing"
      select="[display]"
    ></ng-content>
    <ng-content
      *ngIf="editing"
      select="[edit]"
    ></ng-content>
  </div>
  <div class="r">
    <span
      *ngIf="editable && smallButton"
      class="rectangle-btn"
      (click)="btnClick()"
    >
      <fa-icon
        class="btn-ico"
        [icon]="ico"
      ></fa-icon>
    </span>

    <button
      *ngIf="editable && !smallButton"
      class="left-rounded-btn"
      (click)="btnClick()"
    >
      <fa-icon
        class="ico"
        [icon]="ico"
        size="2x"
      ></fa-icon>
    </button>
  </div>
</div>
