@import "../../scss/values";

app-calendar-task-dialog {
  .desc {
    font-size: 20px;
    color: $c-violete;
  }

  .load {
    font-size: 20px;
    color: $c-violete;
    font-weight: bold;
  }

}
