<app-base-dialog [title]="title">

  <div class="content-buttons-split">
    <div class="cont">

      <div
        *ngIf="desc"
        class="desc"
      >{{desc}}</div>

      <div
        *ngIf="load"
        class="load"
      >{{load}}</div>

    </div>
    <div class="btns">
      <app-dialog-action-button
        (click)="deleteClick()"
        [icon]="faTimes"
      >Delete</app-dialog-action-button>
      <app-dialog-action-button
        (click)="compensateClick()"
        [icon]="faClock"
      >Compensate time worked</app-dialog-action-button>
      <app-dialog-action-button
        (click)="finishClick()"
        [icon]="faCheck"
      >Finish task</app-dialog-action-button>
      <app-dialog-action-button
        (click)="detailClick()"
        [icon]="faEye"
      >Task detail</app-dialog-action-button>
    </div>
  </div>

</app-base-dialog>
