@import "../../scss/values";

app-user-detail-page {

  .photo-name-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 1rem;

    .l {
      padding-left: 1rem;
    }

    .r {
    }

    .photo-cont {
      $size: 100px;
      width: $size;
      height: $size;

      border-radius: 50%;
      text-align: center;
      background-color: white;
      padding: 1rem;

      .photo {
        .ico {
          color: $c-gray-darker;
        }
      }
    }

    .name {
      color: white;
      font-size: 35px;
      line-height: 40px;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  .description {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 20px;
  }

  .linkable {
    color: $c-green;
    text-decoration: underline;
  }

  .logout-btn {
    display: flex;
    align-items: center;
    cursor: pointer;

    color: $c-green;

    .txt {
      font-size: 20px;
      padding-left: 0.5rem;
    }
  }

  .comm-mail {
    padding: 0.1rem;
    border: 2px solid $c-yellow;
    margin-top: 0.3rem;
    font-size: 12px;
    text-align: left;
  }


}
