<div
  *ngIf="vm"
  class="page-all"
>

  <app-header-container
    [showTitle]="false"
    [activeId]="activeId"
  >

    <div class="photo-name-cont">

      <div class="l">

        <div class="photo-cont">
          <span class="photo">
            <fa-icon
              class="ico"
              [icon]="faUser"
              size="7x"
            ></fa-icon>
          </span>
        </div>

      </div>
      <div class="r">

        <div class="name">{{vm.fullName}}</div>

        <div class="btn-cont">

          <button
            class="left-rounded-btn"
            (click)="editClick()"
          >
            <fa-icon
              class="ico"
              [icon]="faPen"
              size="2x"
            ></fa-icon>
          </button>

        </div>


      </div>

    </div>

  </app-header-container>

  <div class="content-cont">

    <div
      *ngIf="vm.desc"
      class="description"
    >{{vm.desc}}</div>

    <div class="split-block-title">Capabilites</div>

    <div class="split-block">

      <app-list-tagger
        [entityId]="realId"
        [loadCallback]="userTagsLoadCallback"
        [editable]="false"
        emptyPlaceholder="Nothing specified yet"
      ></app-list-tagger>
    </div>

    <div class="split-block-title">Contacts</div>

    <div class="split-block">

      <!-- (click)="phoneClick()" -->
      <div class="double-info">
        <div class="l">
          <div class="ico-cont">
            <fa-icon
              class="ico"
              [icon]="faPhone"
              size="2x"
            ></fa-icon>
          </div>
        </div>
        <div class="r">

          <app-add-or-edit-line [saveCallback]="phoneSaveCallback">
            <ng-container display>
              <span
                *ngIf="isMe"
                class="displayable"
              >{{vm.phone}}</span>
              <span
                *ngIf="!isMe"
                class="linkable"
              >{{vm.phone}}</span>
            </ng-container>

            <ng-container edit>
              <input
                [(ngModel)]="vm.phone"
                class="bmgmt-input"
              />
            </ng-container>
          </app-add-or-edit-line>

        </div>
      </div>

      <!-- (click)="mailClick()" -->
      <div class="double-info">
        <div class="l">
          <div class="ico-cont">
            <fa-icon
              class="ico"
              [icon]="faEnvelope"
              size="2x"
            ></fa-icon>
          </div>
        </div>
        <div class="r">

          <app-add-or-edit-line [saveCallback]="mailSaveCallback">
            <ng-container display>
              <span
                *ngIf="isMe"
                class="displayable"
              >{{vm.mail}}</span>
              <span
                *ngIf="!isMe"
                class="linkable"
              >{{vm.mail}}</span>
            </ng-container>

            <ng-container edit>
              <input
                [(ngModel)]="vm.mail"
                class="bmgmt-input"
              />
            </ng-container>
          </app-add-or-edit-line>

        </div>
      </div>

      <!-- (click)="websiteClick()" -->
      <div class="double-info">
        <div class="l">
          <div class="ico-cont">
            <fa-icon
              class="ico"
              [icon]="faGlobeAmericas"
              size="2x"
            ></fa-icon>
          </div>
        </div>
        <div class="r">

          <app-add-or-edit-line [saveCallback]="websiteSaveCallback">
            <ng-container display>
              <span
                *ngIf="isMe"
                class="displayable"
              >{{vm.website}}</span>
              <span
                *ngIf="!isMe"
                class="linkable"
              >{{vm.website}}</span>
            </ng-container>

            <ng-container edit>
              <input
                [(ngModel)]="vm.website"
                class="bmgmt-input"
              />
            </ng-container>
          </app-add-or-edit-line>

        </div>
      </div>

      <div
        *ngIf="vm.location.text"
        class="double-info"
        (click)="locationClick()"
      >
        <div class="l">
          <div class="ico-cont">
            <fa-icon
              class="ico"
              [icon]="faMapMarkerAlt"
              size="2x"
            ></fa-icon>
          </div>
        </div>
        <div class="r"><span class="linkable">{{vm.location.text}}</span></div>
      </div>
    </div>


  </div>

</div>
