<div class="page-all">

  <app-header-container [activeId]="activeId">

    <div class="quick-item-block">

      <mat-radio-group
        aria-label="What do you want to create?"
        [(ngModel)]="dashQuickSvc.creationType"
      >
        <mat-radio-button
          *ngFor="let item of dashQuickSvc.creationTypes"
          [value]="item.value"
        >{{item.label}}</mat-radio-button>
      </mat-radio-group>

      <div class="quick-input-cont">

        <div class="quick-item-table">
          <span class="input-cell">

            <input
              [(ngModel)]="dashQuickSvc.creationName"
              [placeholder]="dashQuickSvc.newInputText"
              class="input"
            />

          </span>
          <span class="button-cell">

            <button
              class="left-rounded-btn"
              (click)="dashQuickSvc.createItemClick()"
            >
              <fa-icon
                class="ico"
                [icon]="faPlus"
                size="2x"
              ></fa-icon>
            </button>

          </span>
        </div>

      </div>
    </div>

  </app-header-container>

  <div class="dashboard-page-all">

    <div class="filter-cont">
      <input
        [(ngModel)]="dashDataSvc.filter"
        placeholder="Filter"
        class="bmgmt-input"
        (keyup)="filterChange()"
      />
    </div>

    <ng-container *ngIf="dashDataSvc.simpleTasks.length">
      <div class="split-block-title">Simple tasks</div>

      <div class="split-block padding">
        <app-dash-items-list
          [items]="dashDataSvc.simpleTasks"
          (itemClickEvent)="taskItemClick($event)"
        ></app-dash-items-list>
      </div>
    </ng-container>

    <ng-container *ngIf="dashDataSvc.calendarTasks.length">
      <div class="split-block-title">Tasks from calendar</div>

      <div class="split-block padding">
        <app-dash-items-list
          [items]="dashDataSvc.calendarTasks"
          (itemClickEvent)="taskItemClick($event)"
        ></app-dash-items-list>
      </div>
    </ng-container>

    <ng-container *ngIf="dashDataSvc.projects.length">
      <div class="split-block-title">Projects</div>

      <div class="split-block padding">
        <app-dash-items-list
          [items]="dashDataSvc.projects"
          (itemClickEvent)="projItemClick($event)"
        ></app-dash-items-list>
      </div>
    </ng-container>

    <!-- <div class="hotkeys-cont">

      <div
        class="hot-btn"
        (click)="addPhotoTaskClick()"
      >
        <div class="tbl">
          <div class="l">
            <fa-icon
              class="ico"
              [icon]="faCamera"
              size="3x"
            ></fa-icon>
          </div>
          <div class="r">
            Add photo to<br>task
          </div>

        </div>
      </div>

      <div
        class="hot-btn"
        (click)="addPhotoProjectClick()"
      >
        <div class="tbl">
          <div class="l">
            <fa-icon
              class="ico"
              [icon]="faCamera"
              size="3x"
            ></fa-icon>
          </div>
          <div class="r">
            Add photo to<br>project
          </div>

        </div>
      </div>

    </div> -->

  </div>

</div>
