@import "../../scss/values";

app-drop-down {
  .control-cont {
    font-size: inherit;
    display: flex;

    &.disabled {
      pointer-events: none;
      filter: grayscale(1);
      opacity: 0.7;
    }
  }

  .drop-cont {
    position: relative;
  }

  .scroll-cont {
    position: absolute;
    left: 0;
    right: 0;
    height: 200px;

    overflow-y: auto;
  }

  .direction-up {
    flex-direction: column-reverse;

    .options {
      bottom: 0;
    }
  }

  .direction-down {
    flex-direction: column;

    .options {
      top: 0;
    }
  }

  .input-cont {
    position: relative;

    .caret-ico {
      font-size: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      right: 0.5rem;
    }
  }

  input {
    width: 100%;
    font-size: inherit;

    box-sizing: border-box;

    border: 2px solid $c-violete;
    background-color: white;
    padding: 0.5rem;
  }

  .options {
    background-color: white;
    z-index: 20;

    .option {
      cursor: pointer;
      padding: 1rem;

      &:hover, &.active {
        background-color: $c-violete;
        color: white;
      }
    }
  }

  .is-dropdown {
    input {
      cursor: pointer;
    }
  }
}
