<app-base-dialog title="Edit task base">

  <div
    *ngIf="initialized"
    class="page-all"
  >

    <div class="form-cont">

      <div class="item-title">Task name</div>
      <div class="single-line">

        <input
          [(ngModel)]="vm.name"
          class="bmgmt-input full-width"
        >

      </div>

      <div class="item-title">Task type</div>
      <div class="single-line">
        <app-drop-down
          [(ngModel)]="vm.type"
          [options]="typeOptions"
          [directionDown]="true"
        ></app-drop-down>
      </div>

      <ng-container *ngIf="isPeriodBased">

        <div class="double-line">
          <div class="l">
            {{vm.week}},{{vm.month}},{{vm.year}}
            <ng-container *ngIf="isWeekBased">
              <div class="item-title">Week</div>
              <app-drop-down
                [(ngModel)]="vm.week"
                [options]="weekOptions"
              ></app-drop-down>
            </ng-container>

            <ng-container *ngIf="isMonthBased">
              <div class="item-title">Month</div>
              <app-drop-down
                [(ngModel)]="vm.month"
                [options]="monthOptions"
              ></app-drop-down>
            </ng-container>

          </div>
          <div class="r">
            <div class="item-title">Year</div>
            <app-drop-down
              [(ngModel)]="vm.year"
              [options]="yearsOptions"
              (change)="yearChange()"
            ></app-drop-down>
          </div>
        </div>

      </ng-container>

      <ng-container *ngIf="isDateRangeBased">

        <div class="double-line">
          <div class="l">
            <div class="item-title">Date from</div>
            <app-date-picker
              [(ngModel)]="vm.dateFrom"
              [max]="fromDateMax"
            ></app-date-picker>
          </div>
          <div class="r">
            <div class="item-title">Date to</div>
            <app-date-picker
              [(ngModel)]="vm.dateTo"
              [min]="toDateMin"
            ></app-date-picker>
          </div>
        </div>

      </ng-container>

      <div class="double-line">
        <div class="l">
          <div class="item-title">Mandays</div>
          <input
            [(ngModel)]="vm.manDays"
            type="number"
            class="bmgmt-input full-width"
          />
        </div>
        <div class="r">
          <div class="item-title">Manhours</div>
          <input
            [(ngModel)]="vm.manHours"
            type="number"
            class="bmgmt-input full-width"
          />
        </div>
      </div>

      <div class="btn-cont">
        <button
          class="left-rounded-btn"
          (click)="updateClick()"
        >
          <fa-icon
            class="ico"
            [icon]="faSave"
            size="2x"
          ></fa-icon>
        </button>
      </div>

    </div>

  </div>


</app-base-dialog>
